body{
    background-color: rgb(24, 24, 24);
    font-family: "Zalando Sans Expanded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.zalando{
  font-family: "Zalando Sans Expanded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    text-align: center;
    padding: 40px;
    background-color: rgb(20, 20, 20);
    color: rgb(220, 220, 220);

    h1, p{
        padding: 0;
        margin: 0;
    }
}

.list-container{
    display: flex;
    justify-content: center;
}
.list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 400px;
    gap: 20px;

    li{
        list-style: none;
        border: 1px solid rgb(220, 220, 220);
        border-radius: 5px;
        padding: 10px;
    }
    a{
        text-decoration: none;
        color: rgb(220, 220, 220);
    }
    a:hover{
        color: rgb(250, 250, 250);
    }
}